---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Solution from '../components/Solution.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import Templates from '../components/Templates.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="Sales Automation Solutions">
  <Navbar />
  <main class="space-y-40 mb-40">
    <Hero />
    <Solution />
    <Features />
    <Testimonials />
    <Templates />
    <CallToAction />
  </main>
</Layout>